# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
venv/
env/
ENV/
.env
.venv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Models (Optional: if models are large, you might want to ignore them or use LFS, but for now we keep them)
models/
demo/